<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/profile.jpg">
            </a>
            <div class="content">
                <a class="header">Marcus Crowder</a>
                <div class="description">
                    <p>I have fun solving problems and breaking things</p>

                    <a href="https://github.com/marcuslkc" target="_blank">
                        <img src="/assets/img/github.png" />
                    </a>
                    <a href="https://www.linkedin.com/in/marcus-crowder-2bbbb8140" target="_blank">
                        <img src="/assets/img/linkedin.png"  />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
