

html, body {
    height: 100%;
}

#head-search {
    display: none;
}

img, video, iframe {
    max-width: 100%;
}

/* header */

.header-wrapper {
    max-height: 100%;
    background-color: black;
}

header {
    max-width: 70%;
    margin: 0 auto;
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    color: rgba(255, 255, 255, .75);
}

.site-logo {
    max-width: 15%;
    height: auto;
    margin: 0 auto;
}

.logo {
    width: 100%;
    margin-top: 20%;
}

.site-description {
    font-family: "League Gothic", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    font-size: 1.5rem;
}



/* /header */

.page-wrap {
    min-height: 100%;
    margin-bottom: 1rem;
}

.page-wrap:after {
    content: "";
    display: block;
}

/* footer */

footer {
    color: rgba(255, 255, 255, .75) !important;
    background-color: black;
    height: 6rem;
    padding-top: 1rem;
}

.footer-wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.ui.transparent.icon.input {
    color: rgba(255, 255, 255, .75) !important;
}

.ui.transparent.icon.input input:focus {
    color: rgba(255, 255, 255, .75) !important;
}

/* /footer */

/* main */

main {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 1rem;
}

.ui.card {
    width: auto !important;
}

.ui.card image  {
    width: 100% !important;
    height: 200px !important;
}

.image {
    max-width: 500px;
    max-height: 300px;
    margin: 0 auto;
}

.small-date {
    color: rgba(0,0,0,.75);
    font-weight: lighter;
}

.description {
    word-wrap: break-word;
}
/* /main */

/* post */

.post-container {
    font-family: "Open Sans", sans-serif;
}

p {
  font-size: 120%;
}

.site-nav {
  min-height: 50px;
}

.ui.menu {
    font-size: 1.234rem;
}

.ui.secondary.menu.inverted {
  font-size: 1.23rem;
}

code {
  display: block;
}
code {
  background: #f8f8f8;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #cccccc;
  padding: 10px;
  word-break: break-all;
}

.about {
  display: block;
  width: auto;
  overflow: hidden;
}

.container > div {
    display: flex;
    justify-content: left;
    align-items: left;
    padding-bottom: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 300px);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    min-width: 0;
    min-height: 0;
    overflow-wrap: normal;
}

.container > div > a > img {
    width: 500px;
    height: 300px;

}
.imageclass {
border: 2px;
padding: 2px;
float: right;
 display: block;
}
.textclass {
text-align: left;
font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
font-size: 120%;
}
h3 > span {
    background-color: gold;
}

